{% extends 'base.html.twig' %}
{% block head %}{% endblock %}
{% block body %}
<div class="mx-auto m-4" style="width:60%">
    <h3>Modifier vos coordonnées  </h3>
    {{ form(form) }}
</div>
{% endblock %}